/* Add CSS Styling */
/* . for class */
.odd{
    background-color: pink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

/* # for id */
#second{
    color: blue;
    font-size: 36px;
}

.third{
    font-size: 24px;
}

#fourth{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}